/*MOBILE*/

@media only screen and (max-width: 400px){


    .me{
        display: none;
    }

    .def{
        margin-right: 40px;
    }
    .def > h3{
        font-size: 100%;
    }




    .landing{
        background-color: rgb(251, 243, 218);
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 10%;
    }



    .navbar{
        background-color: rgb(251, 243, 218);
        color: black;
        /* position: fixed; */
        /* top: 0; */
        z-index: 1;

    }


    .nav-title{
        color: black;
        
    }


    .navbar-nav{
        /* margin: auto; */
        
    }


    .navbar-nav > li > a {
        color: rgb(107, 107, 107);
        display: block;
        float: left;
    }




    .speech > p{
        font-size: 20px;
    }

    .skills > p{
        font-size: 20px;
    }

    .skills > h3{
        font-size: 22px;
    }




    .about{
        background-color: rgb(255, 252, 249);
        height: 100%;
        width: 100%;
        padding: 30% 15%;
        /* display: grid; */
        display: block;
        /* grid-template-rows: 70% 30%; */
        float: none;
    /* row-gap: 50%; */
    }

    .speech{
        margin-right: 5%;
        margin-bottom: 50px;

    }


    .a1 {
        font-size: 150%;
        /* line-height: 1.3; */
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }


    .skills > h3{
        margin-bottom: 10%;
        font-size: 130%;
        color: #3FBFBF;
    }



    .gallery{
        /* background-color: rgb(255, 252, 249); */
        background-color: whitesmoke;
        height: 120%;
        width: 100%;
        /* padding: 5% 10%; */
        display: grid;
        grid-template-rows: 20% 80%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15%;
    }

    .gallery-title > h4{
        font-size: 150%;
    }

    .lamp{
        padding-bottom: 10%;
        align-items: center;
        text-align: center;
    }

    .lamp > h5 > a{
        text-decoration: none;
        /* color: rgb(139, 36, 180); */
        /*color: rgb(47, 45, 153);*/
        font-style: oblique;
        color: #0A2D66;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: gray;
        margin-bottom: 30px;
    }

    .lamp > h5 > a:hover{
        text-shadow: 2px 1px 3px gray;
    }

    .card {
        padding-top: 5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: rgba(249, 240, 243, 1);
        transition: 0.3s;
        width: 80%;
        padding: 5%;
        /* display: block; */
        margin: 1% auto;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 black;
    }

    .container {
      padding: 1%;
      color: black;
      font-size: 100%;
    }



    .contact-us{
        height: 100%;
        width: 100%;
        background-color: rgb(255, 252, 249);
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 50% 15%;
    }

    .contact-title{
        margin-bottom: 3%;
    }

    .contact-title > h4{
        font-size: 200%;
    }

    .contact-title > h6{
        font-size: 120%;
        color: #3FBFBF;
    }


    .contact-message{
        width: 20%;
        resize: none;
    }

    .form-input{
        display: block;
        width: 80%;
        align-items: center;
        border-radius: 10px;
        height: 10%;
        /*margin: 2% 35%;*/
        margin: 2% 12%;
        font-size: 100%;
    }

    .message{
        height: 100px;
        resize: none;
    }

    .contact-btn{
        margin-top: 3%;
        align-items: left;
        width: 60px;
        font-size: 12px;
        background-color: #F5F0F0;
    }



    .contact-btn:hover{
        background-color: #3FBFBF;
        color: white;
    }




    .footer{
        height: 20%;
        width: 100%;
        background-color: rgb(251, 243, 218);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(59, 59, 59);
    }

    .foot{
        /*display: table-cell;*/
        /*padding: 1% 10%;*/
        /*padding: 0% 15%;*/
    }


    .foot > p > a{
        text-decoration: none;
        color: #3FBFBF;
        font-size: 10px;
    }

    .foot > p{
        color: #3FBFBF;
        font-size: 10px;
    }


}