*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(251, 243, 218);
    color: black;
}

.nav-title{
    color: black;
    
}

.navbar-content{
    background-color: rgb(251, 243, 218);
}

.navbar-nav{
    margin: auto;
    
}


.navbar-nav > li > a {
    color: rgb(107, 107, 107);
}


.landing{
    background-color: rgb(251, 243, 218);
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
}