*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body { padding-top: 50px; }

.navbar{
    background-color: rgb(251, 243, 218);
    color: black;
    /* position: fixed; */
    /* top: 0; */
    z-index: 1;

}


.nav-title{
    color: black;
    
}


.navbar-nav{
    /* margin: auto; */
    
}


.navbar-nav > li > a {
    color: rgb(107, 107, 107);
    display: block;
    float: left;
}




.landing{
    background-color: rgb(251, 243, 218);
    height: 91.6%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10%;
}

.welcome > h1{
    font-size: 300%;
    margin-right: 40%;
    color: rgb(68, 68, 68);
}

.me{
    width: 50%;
    align-self: right;
}


.about{
    background-color: rgb(255, 252, 249);
    height: 55%;
    width: 100%;
    padding: 10% 10%;
    /* display: grid; */
    display: flex;
    /* grid-template-rows: 70% 30%; */
    float: left;
    /* row-gap: 50%; */
}

.capabilities{
    width: 100%;
    padding: 10% 10%;
    /* display: grid; */
    display: flex;
    /* grid-template-rows: 70% 30%; */
    float: left;
}

.speech{
    margin-right: 5%;

}


.a1 {
    font-size: 150%;
    /* line-height: 1.3; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.capabilities > h3{
    margin-bottom: 10%;
    font-size: 150%;
    color: #3FBFBF;

}

.capabilities{
    font-size: 120%;
}

.skills {
    padding-top: 5%;
    padding-right: 35%;
    margin-left: -16%;
}

.skills + div {
    padding-top: 5%;
    padding-right: 35%;
}

.skills + div + div {
    padding-top: 5%;
}

.gallery{
    /* background-color: rgb(255, 252, 249); */
    background-color: whitesmoke;
    height: 400%;
    width: 100%;
    /* padding: 5% 10%; */
    /*padding: 5% 0;  */
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery-title > h4{
    font-size: 150%;
}

.lamp{
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
}

.lamp > h5 > a{
    text-decoration: none;
    /* color: rgb(139, 36, 180); */
    /*color: rgb(47, 45, 153);*/
    font-style: oblique;
    color: #0A2D66;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: gray;
}

.lamp > h5 > a:hover{
    text-shadow: 2px 1px 3px gray;
}

.card {
    /*padding-top: 5%;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(249, 240, 243, 1);
    transition: 0.3s;
    width: 40%;
    padding: 5%;
    /* display: block; */
    margin: 1% auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.container {
  padding: 1%;
  color: black;
  font-size: 100%;
}




.contact-us{
    height: 80%;
    width: 100%;
    background-color: rgb(255, 252, 249);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 5%;
}

.contact-title{
    margin-bottom: 3%;
    /*margin-top: 1%;*/
}

.contact-title > h4{
    font-size: 200%;
}

.contact-title > h6{
    font-size: 120%;
    color: #3FBFBF;
}


.contact-message{
    width: 20%;
    resize: none;
}

.form-input{
    display: block;
    width: 30%;
    align-self: center;
    border-radius: 10px;
    height: 10%;
    margin: 2% 35%;
    font-size: 100%;
}

.message{
    height: 100px;
    resize: none;
}

.contact-btn{
    align-items: left;
    width: 80px;
    font-size: 15px;
    background-color: #F5F0F0;
}



.contact-btn:hover{
    background-color: #3FBFBF;
    opacity: .8;
    color: white;
}




.footer{
    height: 20%;
    width: 100%;
    background-color: rgb(251, 243, 218);
    display: table;
    padding: 2% 5%;
    color: rgb(59, 59, 59);
}

.foot{
    display: table-cell;
    padding: 1% 10%;
}


.foot > p > a{
    text-decoration: none;
    color: #3FBFBF;
}

.foot > p{
    color: #3FBFBF;
}

