/*TABLET*/
@media only screen and (min-width: 401px) and (max-width: 960px){

	.landing{
        background-color: rgb(251, 243, 218);
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 10%;
    }

    .me{
	    width: 80%;
	}


	.about{
	    background-color: rgb(255, 252, 249);
	    height: 35%;
	    
	}


	.gallery{
		height: 80%;
	}


	.contact-us{
        height: 80%;
        width: 100%;
        background-color: rgb(255, 252, 249);
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 30% 15%;
    }

    .contact-title{
        /*margin-bottom: 3%;*/
    }

    .contact-title > h4{
        font-size: 200%;
    }

    .contact-title > h6{
        font-size: 120%;
        color: #3FBFBF;
    }


    .contact-message{
        width: 20%;
        resize: none;
    }

    .form-input{
        display: block;
        width: 80%;
        align-items: center;
        border-radius: 10px;
        height: 10%;
        /*margin: 2% 35%;*/
        margin: 2% 12%;
        font-size: 100%;
    }

    .message{
        height: 100px;
        resize: none;
    }

    .contact-btn{
        margin-top: 3%;
        align-items: left;
        width: 60px;
        font-size: 12px;
        background-color: #F5F0F0;
    }



    .contact-btn:hover{
        background-color: #3FBFBF;
        color: white;
    }


    .footer{
        height: 15%;
        width: 100%;
        background-color: rgb(251, 243, 218);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(59, 59, 59);
    }



}